@import '../variable';

.signForm {
    display: flex;
    flex-direction: column;
    max-width: 400;
    margin: 40px auto;

    input {
        margin: 10px;
        border: 2px solid $gray;
        padding: 8px;
        border-radius: 4px;
    }

    button {
        margin: 10px;
        padding: 8px;
        background-color: $black;
        color: $white;
        border-radius: 4px;
    }

    p {
        color: $red;
    }
}